

main {
    width: 800px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    border: solid 2px #ccc;
}

header {
    height: 140px;
    background-color: #17a2b8;
    margin-bottom: 60px;
    border: solid 2px #17a2b8;
}


#user-circle {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 80px;
    left: 30px;
    border: solid 5px #cccccc;
    border-radius: 50%;
}

.profile-icons {
    width:20px ;
    height: 20px;
    margin-right: 5px;
}

.align-right{
    margin-left: 30px;
    font-family: serif;
    font-weight:bold;
}